:root{
    /* Minhas variáveis de cor do projeto */
    --background-light: #eceaff;
    --background-white: #f6f5ff;
    --text-dark: #0a0040;
    --color-primary: #6143ff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.sidebar{
    width: 100px;
    background-color: var(--color-primary);
}
.sidebar img{
    max-width: 100%;
}

nav{
    height: 100px;
    width: calc(100vw - 100px);
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn{
    padding: 20px 30px;
    border-radius: 10px;
    margin-right: 10px;
    border: 0;
}

.btn:hover{
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: scale(1.03);
}

a.btn{
    text-decoration: none;
}

.btn-primary{
    background-color: var(--color-primary);
    color: white;
}


main{
    display: flex;
    padding: 0px;
}

section.graph{
    width: 33%;
    height: 100%;
    padding: 20px 20px 0 20px;
}

.graph_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graph_header h2{
    flex: 1;
    display: inline-block;
}

.graph_header-line{
    width: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 2px;
    margin-left: 10px;
}

.graph_header-date{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.graph_header-subtitle{
    margin-top: 10px;
}

.graph-placeholder{
    background-color: #ccc;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 60px;
    background: url('/assets/images/graph.png');
    background-size: contain;
}

.task_left_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.task_left_footer img{
    
}

section.list{
    padding: 20px 20px 0 20px;
    flex: 1;
}

.list_header{
    display: flex;
}

.list_header-select{
    background-color: transparent;
    border: 0;
    font-weight: 500;
    color: var(--text-dark);
}

.task_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--background-light);
    
}
.task:hover{
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    transform: scale(1.03);
    background-color: var(--background-light);
    cursor: pointer;
}

.title{
    display: flex;
    align-items: center;
}

.task_title{
    padding-left: 15px;
}

.priority, .actions{
    display: flex;
    align-items: center;
}
.actions a{
    margin-left: 20px;
    margin-right: 10px;
}
.actions a:hover{
    transform: scale(1.08);
}

.sphere{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}

/* Task Page Form */
#task_section{
    margin: auto;
    margin-top: 20px;
}

#task_section>h1{
    text-align: center;
    margin-bottom: 20px;
}

.inputArea{
    display: block;
    margin: 15px;
}
.inputArea>label{
    display: block;
    margin-bottom: 3px;
    margin-left: 3px;
}
.inputArea>input, .inputArea>select{
    height: 40px;
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #ccc;
    background-color: rgba(255, 255, 255, 0.5);
}
.inputArea>textarea{
    height: 120px;
    width: 400px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #ccc;
    background-color: rgba(255, 255, 255, 0.5);
}